* {
    margin: 0;
    padding: 0;
  }
  
  html {
    position: relative;
    min-height: 100%;
    background-color: #fcfcfc;
  }
  
  h1 i {
    vertical-align: top;
  }

  body {
    height: 100%;
    /* background-color: #f0f0f0;
    background-color: #f1f2f7; */
    /* background-color: #f1f3f4; */
    
    color: #333;
    font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif;
  
    /* font: "Source Sans Pro"; */
  }

  li{list-style-type: none;}
  
  header {
    height: 60px;
    padding: 20px;
    border: 0;
    font-size: 1rem;
    /*background-color: #374850;*/
    /* background-color: #333; */
    background-color: #ffffff;
    z-index: 1000;
    top: 0;
    left: 0;
    position: sticky;
    border-bottom: 5px solid #00bfa5;
    font-family: "Raleway", Arial, Verdana;
    box-shadow: 1px 1px 5px #666;    
  }
  
  header img {
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 2px;
  }

  header h1 {
    display: inline-block;
    vertical-align: sub;
    margin-left: 10px;
    font-size: 1.5rem;
    color: #00bfa5;
    font-weight: bold;
  }
  header #logo {display: inline-block;}
  header #menu-principal, header #menu-principal ul {display: inline-block; margin-left: 20px;}
  header ul > li {
    list-style-type: none;
    display: inline;
    padding: 20px;
    color: #666;
  }

  .menu-usuario{float: right;}

  header ul > li a{color:#666; text-decoration: none;}
  header ul > li a:hover{color:#00bfa5; text-decoration: none;}
  #menu-adaptive{display: none;}
  #menu-principal .menu-usuario, #menu-principal .menu-prefs-usuario{display: none;}
  main{margin:0; padding:0;}
  #eslogan {position: absolute; top: 20%; left: 8%; z-index:100;}
  #eslogan h1{font-size: 3.5rem; color: #00bfa5;}
  #eslogan h2{color: #fff;}
  section {min-height: 1000px; padding: 50px 20px;}
  section h1{
    font-size: 3rem;
    color: #aaa;
    margin-bottom: 30px;
  }
  section#carrusel {padding:0; background-image: url("../img/4_.png"); background-size: cover; background-repeat: no-repeat; background-attachment: local;}
  section#caracteristicas{
  }
  section#login{background-color: #eee; padding:0; color: #fff; font-weight: bold;}
  section#trackear{background-color: #fcfcfc;}
  .form-login{
    width: 500px;
    margin: 0 auto;
    margin-top: 20%;
    padding: 50px;
    background-color: #fefefe; border: 5px solid #00bfa5; border-radius: 5px; box-shadow: 1px 1px 10px #999;}
  
  .form-login h2{width: 100%; margin: 0 auto; padding: 20px 0px; color: #999; font-weight: bold; text-align: center;}
  .form-login ul{margin: 0 auto;}
  .form-login ul > li{width: 100%; margin: 0 auto; text-align: center;}
  .form-login ul > li button{margin: 20px 0px;}


  .form-trackear{
    width: 100%;
    margin: 0 auto;
    padding: 200px 0px;
    background-color: #fefefe; border: 1px solid #ccc; border-radius: 5px; box-shadow: 1px 1px 10px #999;
    color: #999;}
  
  section#trackear ul > li{
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }

  section#trackear label{
    display: block;
    font-weight: bold;
  }

  table{
    width: 100%;
    border-radius: 6px;
    border: 1px solid #0e8878;
  }

  table thead{
    font-weight: bold;
    background-color: #00bfa5;
    color: white;
  }
  table thead tr{
    border-bottom: 1px solid #333;
  }

  table tbody tr:hover, table tbody tr:nth-child(odd):hover{
    background-color: #00bfa5;
    color: white;
    cursor: pointer;
  }

  table td{
    padding: 20px;
  }

  table tbody tr:nth-child(odd)
  {
    background-color: #f3f3f3;
  }

  section#actividades, section#tareas{
    margin: 50px 0px;
  }

  section#actividades table, section#tareas table{
    margin: 50px 0px;
  }

  .container {
    margin: 0 auto;
    width: 80% !important;
  }

  .container-fluid {
    margin: 0 auto;
    width: 95% !important;
  }

  .bloque_I{
    float: left;
    width: 33%;
    height: 100%;
    min-height: 1000px;
    margin: 0 auto;
    padding: 0;
    background-color: #00bfa5;
  }

  .bloque_I div{
    opacity: 1;
    padding: 100px 0px;
    position: absolute;
    top: 25%;
    z-index: 1000;
  }

  .bloque_I h1{
    opacity: 1;
    color: white;
    
  }

  .bloque_D{
    float: left;
    width: 67%;
    min-height: 1000px;
    padding: 0;
    background-color: #fefefe;
  }

  .floatL{
    float: left;
  }

  .floatR{
    float: right;
  }

  .clear{
    clear: both;
  }

  footer{
      padding: 20px;
      background-color: black;
      color: #ccc;
  }

  /* FORMULARIOS */
  button{border: 0px;}
  .boton{padding: 15px; background-color: #ddd; border-radius: 5px; color: #333; text-align:center;}
  .boton:hover{background-color: #0e8878; cursor: pointer; color: white;}
  .btn-small{}
  input[type="text"], input[type="password"]{display:block; width: 100%; margin-bottom: 20px; padding: 10px; border:0; border: 1px solid #ddd; border-radius: 5px; color: #999;}
  input[type="text"]:focus, input[type="password"]:focus{border-bottom: 1px solid #00bfa5;}
  .form-input-text{}


  .centrado{margin: 0 auto; text-align: center;}
  .negrita{font-weight: bold;}
  /* COLORES */

  .bg-primario{background-color: #00bfa5;}
  .color-primario{color: #00bfa5;}
  .bg-default{background-color: #ccc;}
  .color-default{color: #999;}
  
  .c_blanco{color: white;}
  .c_rojo{color: #f44336;}
  .c_rosa{color: #e91e63;}
  .c_morado{color: #9c27b0;}
  .c_morado_oscuro{color: #673ab7;}
  .c_indigo{color: #3f51b5;}
  .c_azul{color: #2196f3;}
  .c_azul_claro{color: #03a9f4;}
  .c_cian{color: #00bcd4;}
  .c_verde_azulado{color: #009688;}
  .c_verde{color: #4caf50;}
  .c_verde_claro{color: #8bc34a;}
  .c_lima{color: #cddc39;}
  .c_amarillo{color: #ffeb3b;}
  .c_ambar{color: #ffc107;}
  .c_naranja_claro{color: #ff9800;}
  .c_naranja{color: #ff5722;}
  .c_marron{color: #795548;}
  .c_marron_oscuro{color: #3e2723;}
  .c_gris{color: #9e9e9e;}
  .c_gris_azulado{color: #607d8b;}

  
  @media (max-width: 600px) {
    section#carrusel {background-image: url("../img/portrait.png"); background-size: contain; background-repeat: no-repeat; background-attachment: local;}
    #menu-principal{display: none !important;}
    #menu-adaptive{display: block;}
  }